In [88]:
import pandas as pd
import numpy as np

In [99]:
df = pd.read_csv("../Resources/sum_counts_per_months.csv")
df.head()

,Country/Region,Latitude,Longitude,Jan_2020,Feb_2020,March_2020,April_2020,May_2020,June_2020,July_2020,...,Jan_2021,Feb_2021,March_2021,April_2021,May_2021,June_2021,July_2021,Aug_2021,Sep_2021,Oct_2021
0,Afghanistan,33.93911,67.709953,0,25,1141,25152,222720,751685,1079412,...,1781439,1664594,1850157,1853321,2138953,3091089,4536834,5002585,4938391,5296152
1,Albania,41.15330,20.168300,0,0,2232,15632,28873,50880,119660,...,2247089,2827529,3903543,4128083,4353844,4238595,4380229,4558464,5127009,6070103
2,Algeria,28.03390,1.659600,0,4,4823,69497,211394,337819,674286,...,3427687,3323399,3812631,3826171,4149261,4311214,5080997,6182341,6423412,6978198
3,Andorra,42.50630,1.521800,0,0,2787,19106,23498,25511,27174,...,299215,315209,376543,407147,446227,442600,471684,492693,483933,522598
4,Angola,-11.20270,17.873900,0,0,48,601,1639,4660,20049,...,620018,611244,711161,779879,1017919,1187794,1346753,1490384,1669139,2122840

In [146]:
import json

# a Python object (dict):
x = {
  "Country/Region": "Australia",
        "Latitude": -31.9505,
        "Longitude": 115.8605,
        "Jan_2020": 0,
        "Feb_2020": 0,
        "March_2020": 2776,
        "April_2020": 15274,
        "May_2020": 17329,
        "June_2020": 18070,
        "July_2020": 19871,
        "Aug_2020": 20183,
        "Sep_2020": 20580,
        "Oct_2020": 24637,
        "Nov_2020": 26197,
        "Dec_2020": 28685,
        "Jan_2021": 29230,
        "Feb_2021": 27298,
        "March_2021": 30613,
        "April_2021": 31078,
        "May_2021": 33485,
        "June_2021": 32654,
        "July_2021": 34364,
        "Aug_2021": 35213,
        "Sep_2021": 34916,
        "Oct_2021": 37743
}

# convert into JSON:
y = json.dumps(x, indent=4)

# the result is a JSON string:
print(y)

{
    "Country/Region": "Australia",
    "Latitude": -31.9505,
    "Longitude": 115.8605,
    "Jan_2020": 0,
    "Feb_2020": 0,
    "March_2020": 2776,
    "April_2020": 15274,
    "May_2020": 17329,
    "June_2020": 18070,
    "July_2020": 19871,
    "Aug_2020": 20183,
    "Sep_2020": 20580,
    "Oct_2020": 24637,
    "Nov_2020": 26197,
    "Dec_2020": 28685,
    "Jan_2021": 29230,
    "Feb_2021": 27298,
    "March_2021": 30613,
    "April_2021": 31078,
    "May_2021": 33485,
    "June_2021": 32654,
    "July_2021": 34364,
    "Aug_2021": 35213,
    "Sep_2021": 34916,
    "Oct_2021": 37743
}

In [97]:
#df.to_json (r'../Resources/sum_counts_per_month.json', orient = "records", date_format = "epoch", double_precision = 10, force_ascii = True, date_unit = "ms", default_handler = None)

In [100]:
import csv
import json
 

# Function to convert a CSV to JSON
# Takes the file paths as arguments
def make_json(csvFilePath, jsonFilePath):
     
    # create a dictionary
    data = {}
     
    # Open a csv reader called DictReader
    with open(csvFilePath, encoding='utf-8') as csvf:
        csvReader = csv.DictReader(csvf)
         
        # Convert each row into a dictionary
        # and add it to data
        for rows in csvReader:
             
            # Assuming a column named 'Country/Region' to
            # be the primary key
            key = rows['Country/Region']
            data[key] = rows
 
    # Open a json writer, and use the json.dumps()
    # function to dump data
    with open(jsonFilePath, 'w', encoding='utf-8') as jsonf:
        jsonf.write(json.dumps(data, indent=4))
        
         
# Driver Code
 
# Decide the two file paths according to your
# computer system
csvFilePath = r'../Resources/sum_counts_per_months.csv'
jsonFilePath = r'../Resources/sum_counts_per_months.json'
 
# Call the make_json function
make_json(csvFilePath, jsonFilePath)

In [113]:
df3 = pd.read_json("../Resources/sum_counts_per_months.json")
print(df3)

                Afghanistan  Albania  Algeria  Andorra    Angola  \
Country/Region  Afghanistan  Albania  Algeria  Andorra    Angola
Latitude           33.93911  41.1533  28.0339  42.5063  -11.2027
Longitude         67.709953  20.1683   1.6596   1.5218   17.8739
Jan_2020                  0        0        0        0         0
Feb_2020                 25        0        4        0         0
March_2020             1141     2232     4823     2787        48
April_2020            25152    15632    69497    19106       601
May_2020             222720    28873   211394    23498      1639
June_2020            751685    50880   337819    25511      4660
July_2020           1079412   119660   674286    27174     20049
Aug_2020            1165099   230278  1185076    31382     59160
Sep_2020            1205772   363954  1509980    47325    116583
Oct_2020            1371254   587713  1859456   117690    267189
Nov_2020            1444060   985482  2329547   195443    450348
Dec_2020            1697359  1717254  3184634   254590    560836
Jan_2021            1781439  2247089  3427687   299215    620018
Feb_2021            1664594  2827529  3323399   315209    611244
March_2021          1850157  3903543  3812631   376543    711161
April_2021          1853321  4128083  3826171   407147    779879
May_2021            2138953  4353844  4149261   446227   1017919
June_2021           3091089  4238595  4311214   442600   1187794
July_2021           4536834  4380229  5080997   471684   1346753
Aug_2021            5002585  4558464  6182341   492693   1490384
Sep_2021            4938391  5127009  6423412   483933   1669139
Oct_2021            5296152  6070103  6978198   522598   2122840

                Antigua and Barbuda  Argentina  Armenia  Australia   Austria  \
Country/Region  Antigua and Barbuda  Argentina  Armenia  Australia   Austria
Latitude                    17.0608   -38.4161  40.0691   -31.9505   47.5162
Longitude                  -61.7964   -63.6167  45.0382   115.8605   14.5501
Jan_2020                          0          0        0          0         0
Feb_2020                          0          0        0          0        10
March_2020                       61       6529     4099       2776     84802
April_2020                      617      77576    36511      15274    417242
May_2020                        776     275556   151445      17329    500479
June_2020                      1026    1091252   520967      18070    515592
July_2020                      2366    3728771  1026463      19871    600464
Aug_2020                       2881    9244163  1286089      20183    735971
Sep_2020                       2987   18310984  1449209      20580   1104549
Oct_2020                       3970   33474449  2292893      24637   2381331
Nov_2020                       4477   43627700  3892220      26197   6917042
Dec_2020                       5134   52041934  5115778      28685  11240065
Jan_2021                       6242   59189863  5410391      29230  12934661
Feb_2021                      14495   60964547  5085820      27298  13114797
March_2021                    32384   73450165  5991723      30613  16620948
April_2021                    38537   85415876  6609623      31078  18836511
May_2021                      41133  111494359  7277635      33485  20991470
June_2021                     40413  134063827  7167311      32654  20757057
July_2021                     42086  156269072  7506952      34364  21581681
Aug_2021                      48236  167940548  7784491      35213  22190651
Sep_2021                      78647  167416995  8067725      34916  22983309
Oct_2021                     130761  179326772  9682963      37743  26654176

                ...       United Kingdom   Uruguay  Uzbekistan   Vanuatu  \
Country/Region  ...       United Kingdom   Uruguay  Uzbekistan   Vanuatu
Latitude        ...              55.3781  -32.5228   41.377491  -15.3767
Longitude       ...  -3.4360000000000004  -55.7658   64.585262  166.9592
Jan_2020        ...                    2         0           0         0
Feb_2020        ...                  545         0           0         0
March_2020      ...               281211      3023        1062         0
April_2020      ...              3299974     15144       35053         0
May_2020        ...              6976157     22718       85596         0
June_2020       ...              8169695     25962      168606         0
July_2020       ...              9072047     32857      479255         0
Aug_2020        ...              9875618     44615     1068133         0
Sep_2020        ...             11951392     57111     1526099         0
Oct_2020        ...             25076503     87432     2137675         0
Nov_2020        ...             45699819    144488     2326678        24
Dec_2020        ...             68988511    419830     2566499        34
Jan_2021        ...            109573114   1045483     2573150        33
Feb_2021        ...            121252195   1501181     2382711        30
March_2021      ...            141014397   2601212     2677368        85
April_2021      ...            140339268   5067568     2773165       108
May_2021        ...            146930998   8146258     3185643       132
June_2021       ...            147841234  10965408     3367123       128
July_2021       ...            177326970  12467510     3953040       132
Aug_2021        ...            209405858  12654785     4767816       132
Sep_2021        ...            235483802  12392023     5331897       128
Oct_2021        ...            288577957  13305503     6152986       152

                Venezuela             Vietnam  West Bank and Gaza  \
Country/Region  Venezuela             Vietnam  West Bank and Gaza
Latitude           6.4238  14.058323999999999             31.9522
Longitude        -66.5897          108.277199             35.2332
Jan_2020                0                  20                   0
Feb_2020                0                 382                   0
March_2020           1296                2514                1355
April_2020           6845                7778                8597
May_2020            22391                9465               12240
June_2020          101886               10196               25938
July_2020          349975               12278              230938
Aug_2020          1023744               28091              519581
Sep_2020          1946653               32992             1005690
Oct_2020          2916346               38622             1609368
Nov_2020          3233345               42183             2254695
Dec_2020          3703337               47991             3980996
Jan_2021          3966762               51791             4988197
Feb_2021          4012259               66735             5109864
March_2021        4916688               84234             7122414
April_2021        5800944               88471             8831454
May_2021          7158468              155246            10025658
June_2021         8185987              389669             9981422
July_2021         9610676             2199515            10413981
Aug_2021         10594236            10058801            10740262
Sep_2021         11272030            20920862            12108768
Oct_2021         13314971            29459063            15040730

                             Yemen      Zambia    Zimbabwe
Country/Region               Yemen      Zambia    Zimbabwe
Latitude        15.552726999999999  -13.133897  -19.015438
Longitude                48.516388   27.849332   29.154857
Jan_2020                         0           0           0
Feb_2020                         0           0           0
March_2020                       0         194          53
April_2020                      31        1754         618
May_2020                      4101       18622        1871
June_2020                    23264       40038       12096
July_2020                    46644       90582       48113
Aug_2020                     57598      290970      163293
Sep_2020                     62366      425664      231421
Oct_2020                     69843      536193      276516
Nov_2020                     68269      567973      299666
Dec_2020                     70952      643283      410181
Jan_2021                     69683     1223682      854778
Feb_2021                     65201     2082193     1056312
March_2021                  105851     2804351     1206063
April_2021                  180034     2894492     1203106
May_2021                    216693     3068525     1273938
June_2021                   219492     3936526     1358165
July_2021                   230408     5995011     2691818
Aug_2021                    244616     6683546     3956846
Sep_2021                    273994     6659906     4085658
Oct_2021                    323701     7122585     4495692

[25 rows x 196 columns]

In [118]:
df3['Afghanistan']['Latitude']= pd.to_numeric(df3['Afghanistan']['Latitude'], errors='coerce')

In [121]:
df3['Afghanistan']['Latitude'].dtype

dtype('float64')

In [140]:
def convert_int(country = 'Australia'):
    for x in df3[country]['Latitude']:
        df3[country]['Latitude']= pd.to_numeric(df3[country]['Latitude'], errors='coerce')

In [141]:
convert_int('Australia')

TypeError: 'numpy.float64' object is not iterable

In [139]:
df3['Australia']['Latitude'].dtype

dtype('float64')