In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../Resources/time-series-19-covid-combined_csv.csv")
df.head()

         Date Country/Region Province/State  Confirmed  Recovered  Deaths
0  2020-01-22    Afghanistan            NaN          0        0.0       0
1  2020-01-23    Afghanistan            NaN          0        0.0       0
2  2020-01-24    Afghanistan            NaN          0        0.0       0
3  2020-01-25    Afghanistan            NaN          0        0.0       0
4  2020-01-26    Afghanistan            NaN          0        0.0       0

In [4]:
df2 = pd.read_csv("../Resources/time_series_covid19_confirmed_global.csv")
df2.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/30/21,10/31/21,11/1/21,11/2/21,11/3/21,11/4/21,11/5/21,11/6/21,11/7/21,11/8/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,156210,156250,156284,156307,156323,156363,156392,156397,156397,156397
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,184887,185300,185497,186222,186793,187363,187994,187994,189125,189355
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,206358,206452,206566,206649,206754,206878,206995,207079,207156,207254
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,15516,15516,15516,15516,15572,15618,15618,15618,15618,15705
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,64374,64433,64458,64487,64533,64583,64612,64654,64674,64724

In [5]:
del df2['Province/State']
df2.head()

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,10/30/21,10/31/21,11/1/21,11/2/21,11/3/21,11/4/21,11/5/21,11/6/21,11/7/21,11/8/21
0,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,0,...,156210,156250,156284,156307,156323,156363,156392,156397,156397,156397
1,Albania,41.15330,20.168300,0,0,0,0,0,0,0,...,184887,185300,185497,186222,186793,187363,187994,187994,189125,189355
2,Algeria,28.03390,1.659600,0,0,0,0,0,0,0,...,206358,206452,206566,206649,206754,206878,206995,207079,207156,207254
3,Andorra,42.50630,1.521800,0,0,0,0,0,0,0,...,15516,15516,15516,15516,15572,15618,15618,15618,15618,15705
4,Angola,-11.20270,17.873900,0,0,0,0,0,0,0,...,64374,64433,64458,64487,64533,64583,64612,64654,64674,64724

In [16]:
df2['Jan 2020']= df.iloc[:, -8:-1].sum(axis=1)
df2['Jan 2020']

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
        ...
275    74636.0
276    74710.0
277    74897.0
278    74983.0
279    75154.0
Name: Jan 2020, Length: 280, dtype: float64

In [17]:
df2

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,10/31/21,11/1/21,11/2/21,11/3/21,11/4/21,11/5/21,11/6/21,11/7/21,11/8/21,Jan 2020
0,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,0,...,156250,156284,156307,156323,156363,156392,156397,156397,156397,0.0
1,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,185300,185497,186222,186793,187363,187994,187994,189125,189355,0.0
2,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,206452,206566,206649,206754,206878,206995,207079,207156,207254,0.0
3,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,15516,15516,15516,15572,15618,15618,15618,15618,15705,0.0
4,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,64433,64458,64487,64533,64583,64612,64654,64674,64724,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,Vietnam,14.058324,108.277199,0,2,2,2,2,2,2,...,921122,926720,932357,939463,946043,953547,961038,968684,976672,74636.0
276,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,...,452997,453782,454172,454509,454799,455099,455099,455099,455689,74710.0
277,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,9791,9799,9806,9810,9831,9843,9858,9870,9883,74897.0
278,Zambia,-13.133897,27.849332,0,0,0,0,0,0,0,...,209734,209739,209760,209781,209815,209852,209869,209902,209908,74983.0
279,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,0,...,132977,133007,133047,133091,133112,133112,133168,133187,133205,75154.0

In [18]:
Jan_2020 = df2['1/22/20']+df2['1/23/20']+df2['1/24/20']+df2['1/24/20']+df2['1/25/20']+df2['1/26/20']+df2['1/27/20']+df2['1/28/20']+df2['1/29/20']+df2['1/30/20']+df2['1/31/20']
Jan_2020

0       0
1       0
2       0
3       0
4       0
       ..
275    20
276     0
277     0
278     0
279     0
Length: 280, dtype: int64

In [23]:
Feb_2020 = df2['2/1/20']+df2['2/2/20']+df2['2/3/20']+df2['2/4/20']+df2['2/5/20']+df2['2/6/20']+df2['2/7/20']+df2['2/8/20']+df2['2/9/20']+df2['2/10/20']+df2['2/11/20']+df2['2/12/20']+df2['2/13/20']+df2['2/14/20']+df2['2/15/20']+df2['2/16/20']+df2['2/17/20']+df2['2/18/20']+df2['2/19/20']+df2['2/20/20']+df2['2/21/20']+df2['2/22/20']+df2['2/23/20']+df2['2/24/20']+df2['2/25/20']+df2['2/26/20']+df2['2/27/20']+df2['2/28/20']
Feb_2020

0       25
1        0
2        4
3        0
4        0
      ...
275    382
276      0
277      0
278      0
279      0
Length: 280, dtype: int64

In [31]:
March_2020 = df2.iloc[:, 42:73].sum()
March_2020

3/1/20      88400
3/2/20      90379
3/3/20      92980
3/4/20      95282
3/5/20      98100
3/6/20     102016
3/7/20     106113
3/8/20     110051
3/9/20     114230
3/10/20    119055
3/11/20    126717
3/12/20    132519
3/13/20    146875
3/14/20    157974
3/15/20    169251
3/16/20    184036
3/17/20    200039
3/18/20    219595
3/19/20    246703
3/20/20    277579
3/21/20    309721
3/22/20    344828
3/23/20    387489
3/24/20    428574
3/25/20    479663
3/26/20    542525
3/27/20    607435
3/28/20    677100
3/29/20    734000
3/30/20    799279
3/31/20    876098
dtype: int64

In [33]:
April_2020 = df2.iloc[:, 73:103].sum()
April_2020

4/1/20      959098
4/2/20     1042125
4/3/20     1126354
4/4/20     1185448
4/5/20     1256304
4/6/20     1330214
4/7/20     1399820
4/8/20     1483141
4/9/20     1570148
4/10/20    1655435
4/11/20    1729826
4/12/20    1849398
4/13/20    1920451
4/14/20    2004358
4/15/20    2082579
4/16/20    2178265
4/17/20    2266304
4/18/20    2343476
4/19/20    2420251
4/20/20    2495799
4/21/20    2571855
4/22/20    2653237
4/23/20    2737236
4/24/20    2821351
4/25/20    2903702
4/26/20    2975269
4/27/20    3045516
4/28/20    3121395
4/29/20    3198420
4/30/20    3281838
dtype: int64