In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../Resources/time-series-19-covid-combined_csv.csv")
df.head()

         Date Country/Region Province/State  Confirmed  Recovered  Deaths
0  2020-01-22    Afghanistan            NaN          0        0.0       0
1  2020-01-23    Afghanistan            NaN          0        0.0       0
2  2020-01-24    Afghanistan            NaN          0        0.0       0
3  2020-01-25    Afghanistan            NaN          0        0.0       0
4  2020-01-26    Afghanistan            NaN          0        0.0       0

In [4]:
df2 = pd.read_csv("../Resources/time_series_covid19_confirmed_global.csv")
df2.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/30/21,10/31/21,11/1/21,11/2/21,11/3/21,11/4/21,11/5/21,11/6/21,11/7/21,11/8/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,156210,156250,156284,156307,156323,156363,156392,156397,156397,156397
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,184887,185300,185497,186222,186793,187363,187994,187994,189125,189355
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,206358,206452,206566,206649,206754,206878,206995,207079,207156,207254
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,15516,15516,15516,15516,15572,15618,15618,15618,15618,15705
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,64374,64433,64458,64487,64533,64583,64612,64654,64674,64724

In [5]:
del df2['Province/State']
df2.head()

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,10/30/21,10/31/21,11/1/21,11/2/21,11/3/21,11/4/21,11/5/21,11/6/21,11/7/21,11/8/21
0,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,0,...,156210,156250,156284,156307,156323,156363,156392,156397,156397,156397
1,Albania,41.15330,20.168300,0,0,0,0,0,0,0,...,184887,185300,185497,186222,186793,187363,187994,187994,189125,189355
2,Algeria,28.03390,1.659600,0,0,0,0,0,0,0,...,206358,206452,206566,206649,206754,206878,206995,207079,207156,207254
3,Andorra,42.50630,1.521800,0,0,0,0,0,0,0,...,15516,15516,15516,15516,15572,15618,15618,15618,15618,15705
4,Angola,-11.20270,17.873900,0,0,0,0,0,0,0,...,64374,64433,64458,64487,64533,64583,64612,64654,64674,64724

In [18]:
Jan_2020 = df2['1/22/20']+df2['1/23/20']+df2['1/24/20']+df2['1/24/20']+df2['1/25/20']+df2['1/26/20']+df2['1/27/20']+df2['1/28/20']+df2['1/29/20']+df2['1/30/20']+df2['1/31/20']
Jan_2020

0       0
1       0
2       0
3       0
4       0
       ..
275    20
276     0
277     0
278     0
279     0
Length: 280, dtype: int64

In [23]:
Feb_2020 = df2['2/1/20']+df2['2/2/20']+df2['2/3/20']+df2['2/4/20']+df2['2/5/20']+df2['2/6/20']+df2['2/7/20']+df2['2/8/20']+df2['2/9/20']+df2['2/10/20']+df2['2/11/20']+df2['2/12/20']+df2['2/13/20']+df2['2/14/20']+df2['2/15/20']+df2['2/16/20']+df2['2/17/20']+df2['2/18/20']+df2['2/19/20']+df2['2/20/20']+df2['2/21/20']+df2['2/22/20']+df2['2/23/20']+df2['2/24/20']+df2['2/25/20']+df2['2/26/20']+df2['2/27/20']+df2['2/28/20']
Feb_2020

0       25
1        0
2        4
3        0
4        0
      ...
275    382
276      0
277      0
278      0
279      0
Length: 280, dtype: int64

In [46]:
March_2020 = df2.iloc[:, 42:73].sum(axis=1)
March_2020

0      1141
1      2232
2      4823
3      2787
4        48
       ...
275    2514
276    1355
277       0
278     194
279      53
Length: 280, dtype: int64

In [47]:
April_2020 = df2.iloc[:, 73:103].sum(axis=1)
April_2020

0      25152
1      15632
2      69497
3      19106
4        601
       ...
275     7778
276     8597
277       31
278     1754
279      618
Length: 280, dtype: int64

In [48]:
May_2020 = df2.iloc[:, 103: 134].sum(axis=1)
May_2020

0      222720
1       28873
2      211394
3       23498
4        1639
        ...
275      9465
276     12240
277      4101
278     18622
279      1871
Length: 280, dtype: int64

In [49]:
June_2020 = df2.iloc[:, 134: 164].sum(axis=1)
June_2020

0      751685
1       50880
2      337819
3       25511
4        4660
        ...
275     10196
276     25938
277     23264
278     40038
279     12096
Length: 280, dtype: int64

In [50]:
July_2020 = df2.iloc[:, 164: 195].sum(axis=1)
July_2020

0      1079412
1       119660
2       674286
3        27174
4        20049
        ...
275      12278
276     230938
277      46644
278      90582
279      48113
Length: 280, dtype: int64

In [51]:
Aug_2020 = df2.iloc[:, 195:226].sum(axis=1)
Aug_2020

0      1165099
1       230278
2      1185076
3        31382
4        59160
        ...
275      28091
276     519581
277      57598
278     290970
279     163293
Length: 280, dtype: int64

In [57]:
Sep_2020 = df2.iloc[:, 226:257].sum(axis=1)
Sep_2020

0      1205772
1       363954
2      1509980
3        47325
4       116583
        ...
275      32992
276    1005690
277      62366
278     425664
279     231421
Length: 280, dtype: int64

In [61]:
Oct_2020 = df2.iloc[:, 256:290].sum(axis=1)
Oct_2020

0      1371254
1       587713
2      1859456
3       117690
4       267189
        ...
275      38622
276    1609368
277      69843
278     536193
279     276516
Length: 280, dtype: int64

In [65]:
Nov_2020 = df2.iloc[:, 287:320].sum(axis=1)
Nov_2020

0      1444060
1       985482
2      2329547
3       195443
4       450348
        ...
275      42183
276    2254695
277      68269
278     567973
279     299666
Length: 280, dtype: int64

In [68]:
Dec_2020 = df2.iloc[:, 317: 351].sum(axis=1)
Dec_2020

0      1697359
1      1717254
2      3184634
3       254590
4       560836
        ...
275      47991
276    3980996
277      70952
278     643283
279     410181
Length: 280, dtype: int64

In [71]:
Jan_2021 = df2.iloc[:, 348: 381].sum(axis=1)
Jan_2021

0      1781439
1      2247089
2      3427687
3       299215
4       620018
        ...
275      51791
276    4988197
277      69683
278    1223682
279     854778
Length: 280, dtype: int64

In [75]:
Feb_2021 = df2.iloc[:, 379:409].sum(axis=1)
Feb_2021

0      1664594
1      2827529
2      3323399
3       315209
4       611244
        ...
275      66735
276    5109864
277      65201
278    2082193
279    1056312
Length: 280, dtype: int64

In [79]:
March_2021 = df2.iloc[:, 407:440].sum(axis=1)
March_2021

0      1850157
1      3903543
2      3812631
3       376543
4       711161
        ...
275      84234
276    7122414
277     105851
278    2804351
279    1206063
Length: 280, dtype: int64

In [82]:
April_2021 = df2.iloc[:, 438: 470].sum(axis=1)
April_2021

0      1853321
1      4128083
2      3826171
3       407147
4       779879
        ...
275      88471
276    8831454
277     180034
278    2894492
279    1203106
Length: 280, dtype: int64

In [85]:
May_2021 = df2.iloc[:, 468:501].sum(axis=1)
May_2021

0       2138953
1       4353844
2       4149261
3        446227
4       1017919
         ...
275      155246
276    10025658
277      216693
278     3068525
279     1273938
Length: 280, dtype: int64

In [88]:
June_2021 = df2.iloc[:, 499:531].sum(axis=1)
June_2021

0      3091089
1      4238595
2      4311214
3       442600
4      1187794
        ...
275     389669
276    9981422
277     219492
278    3936526
279    1358165
Length: 280, dtype: int64